{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar */
    .wy-nav-side {
      background: gray;
    }
    
    .wy-nav-content {
    max-width: 90%;
   }
    
    h1{
      font-size:300%;
    }
    
    
    
    body {
      font-family:"Times New Roman";
    }
    
    h1 {
      color: red ;
    }

    h2 {
      color: green ;
    }

    .red {
      color: red;
    }

    .blue {
      color: blue;
    }

    .big{
      font-size: 25px;
    }

    
    .wy-table-responsive table th{
   	  white-space:normal;
   }
  
  </style>
{% endblock %}
